.wraper {
    display: grid;
    grid-gap: 20px;
    /* the grid-template-columns defines how much areas you will get */
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    /* the areas could be named as you wish (a,b,c,d for instance) */
    "header header header header"
    "sidebar article article article"
    "footer footer footer footer"

}

header {
   /* put the name of the grid-area where you want this block */
    grid-area: header;
    background-color: grey;
    padding: 20px;

}

article {
    grid-area: article;
    background-color: aqua;
    padding: 20px;
}

aside {
    grid-area: sidebar;
    background-color: pink;
}

footer {
    grid-area: footer;
    background-color: blueviolet;
    padding: 20px;
}
