:root {
  --main-bg: #232946;
  --main-headline: #fffffe;
  --main-paragraph:#b8c1ec;
  --first-bg-button:pink;
  /* --main-cards:#fffffe; */
  /* --first-card-color: #fffffe; */
  --second-bg: pink;
  --second-text-color: #232946;  
  --second-head: #fffffe;
  --second-paragraf:#b8c1ec;
  --shadow-in-dark: rgba(232, 231, 238, 0.905);
  /* font-family */
  --font-family: "Raleway"

}

@import url('https://fonts.googleapis.com/css?family=Raleway');
html,h1,h2,h3,h4,h5,h6,a{
font-family: "Raleway";
}

body {
    background-color: var(--main-bg);
}

header {
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    min-height: 661px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}

.h1-dark-bg {
  color: var(--main-headline);
}

.p-dark-bg {
  color: var(--main-paragraph);
}


.my-content {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    
}

/* button */
.button-55 {
  align-self: center;
  background-color: var(--first-bg-button);
  background-image:none;
  background-position:0 90%;
  background-repeat:repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 4px;
  box-shadow: var(--shadow-in-dark) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: var(--second-text-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(font-family);
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 93px;
  border-top-left-radius: 255px 93px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: var(--shadow-in-dark);
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: var(--shadow-in-dark);
}

.wrapper-card {
    display: flex;
    overflow-x: scroll;
  }
  
.card {
    height: 60vh;
    min-width: 50vw;
    position: sticky;
    top: 5vh;
    left: 10vw;
}
@for $i from 1 through 4 {
  .card:nth-child(#{$i}n) {
    top: $i * 20px;
  }
}



