header{
    position: relative;
}

header i {
    position: absolute;
    top: 20px;
    left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

 
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}
h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid black; 
    line-height: 0.1em;
    margin: 10px 0 20px;
    
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: grey;
    
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    color: grey;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}